@model Project3_FinalExam.ViewModels.AboutViewModel

<h2>@Model.Title</h2>
<div class=" row">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>
<h3>@Model.About.title</h3>
<div class=" row">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>
<h6>@Model.About.description</h6>
<div class=" row">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>
<h6 style="text-decoration-color: floralwhite; text-decoration : underline">@Model.About.quote</h6>

<h6 style="text-decoration-color: floralwhite; text-decoration : underline">- @Model.About.quoteAuthor</h6>
<div class=" row">
    <div>&nbsp;</div>
    <div>&nbsp;</div>
</div>